.fridge-picture{
    width:50px;
    height:50px;
}

.fridge-information{
    width:100%;
    height:70px;
    border:1px solid black;
    padding:10px;
    box-sizing:border-box;
}

.fridge-information span{
    font-size:16px; 
    padding-left:10px;
}

.fridge-information a{
    text-decoration:none;
}

table{
    width:100%;
}

.kb-section {
    padding: 50px 50px 100px 50px;
    border: solid 1px black;
    vertical-align: top;
    width:33.333%;
    position:relative;
}

.kb-selected{
    background-color:green;
    color:white;
}

.add-node{
    font-size:30px;
    width:50px;
    height:50px;
    background-color:blue;
    color:white;
    position:absolute;
    bottom:30px;
    left:50px;
    text-align:center;
    line-height:50px;
    cursor:pointer;
}

.add-node:hover{
}
