.fridge-picture {
    width: 50px;
    height: 50px;
}

.knowledgebase-column {
    padding: 20px;
}

.knowledgebase-row {
    padding: 10px 0;
}

table {
    width: 100%;
}

.kb-section {
    padding: 50px 50px 100px 50px;
    border: solid 1px black;
    vertical-align: top;
    width: 33.333%;
    position: relative;
}

.kb-selected {
    background-color: green;
    color: white;
}

.clone-dialog img,
.edit-dialog img {
    width: 100px;
    height: auto;
}
